<footer class="border-top footer text-muted bg-light" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container text-center">
        &copy; 2025 - Demirbaş Yönetim Sistemi -
        <span class="text-primary font-weight-bold">
            @DateTime.Now.ToString("dd MMMM yyyy HH:mm:ss")
        </span>
    </div>
</footer>