@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<div class="container mt-5">
    <div class="card border-primary mb-3 shadow">
        <div class="card-header bg-primary text-white">KVKK ve Gizlilik</div>
        <div class="card-body">
            <h5 class="card-title text-primary"><i class="fa-solid fa-shield-halved me-2"></i>Veri Güvenliği Hakkında</h5>
            <p class="card-text">
                Bu proje kapsamında işlenen veriler (Demirbaş, Kategori, Konum ve Kullanıcı bilgileri)
                yerel veritabanında saklanmaktadır. Eğitim amaçlı geliştirilen bu projede veriler
                3. şahıslarla paylaşılmaz.
            </p>
            <hr />
           <p>
                <strong><i class="fa-solid fa-user-tie me-1"></i> Proje Geliştiricisi:</strong>
                
            </p>
            <p>
                <strong><i class="fa-solid fa-envelope me-1"></i> İletişim:</strong>
                
            </p>
        </div>
    </div>
</div>